# Path to the .env file of the target project (e.g., Laravel project)
TARGET_PROJECT_ENV_PATH="/var/www/my-laravel-project/.env"

# Directory where the backups will be stored
BACKUP_DESTINATION_DIR="/home/user/backups"

# Number of backups to retain
MAX_BACKUPS_TO_KEEP=5